# DATABASE
DATABASE_URL="file:./dev.db"

# AUTH
SESSION_SECRET="d0k0n_b0shq4ruv1_sup3r_s3cur3_k3y_2026_xYz987!@#"
NEXT_PUBLIC_APP_NAME="SY Tizim"

# DO'KONLAR UCHUN ID VA IP MANZILLAR (Vergul bilan ajratib yozing):
# Masalan:
STORE_IDS="127.0.0.1, 192.168.1.1, 123456"
